!!!
%html.intro-animating(lang="en-au")
  %head
    %meta(charset="utf-8")
    %link{:rel => "stylesheet", :href => asset_path("/home.css")}
    %script{:src => asset_path("/vendor/modernizer.js")}
    %script== yepnope(#{javascripts.to_json});
    %script(src="http://use.typekit.com/wfr5ecw.js")
    %script try { Typekit.load(); } catch(e){ }
    %meta(name="viewport" content="width=1024, initial-scale=1.0, minimum-scale=1.0")
    %title RUBPOCALYPSE
    %link(rel="author" title="Tim Lucas" href="http://toolmantim.com/")
    /
      #{readme_sans_install}
  %body
    - [["crickets", true], ["fireball", false], ["explosion", false], ["success", false], ["error", false]].each do |(f,auto)|
      %audio{:preload => "auto", :id => "#{f}-sound", :autoplay => auto, :src => asset_path("/sounds/#{f}.mp3")}
        %source{:type => "audio/ogg", :src => "/sounds/#{f}.ogg"}/
    = partial :intro
    = partial :order
    %script
      :plain
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-196014-14']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();